consumer/src/main/resources/logMessage.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="logMessage">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="message"/>
                <xs:element type="xs:integer" name="age"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>